ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
COOKIE_SECURE=
DATABASE_URL=
DIRECT_DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_API_BASE=
NEXT_PUBLIC_SITE_NAME_EN=
NEXT_PUBLIC_SITE_NAME_UR=
NEXT_PUBLIC_SITE_URL=
UPLOAD_MAX_MB=